* {
    box-sizing: border-box;
}

body {
    background-image: url(img/BG/BG.png);
    background-position-y: -300px;
    background-size: cover;
    overflow: hidden;
}

.tree {
    position: absolute;
    height:400px;
    width: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.ground{
    background-image :url('img/Tiles/2.png');
    height : 120px;
    width : 120px;
    position : absolute;
    color : white;
}

.enemy{
    height: 150px;
    width: 150px;
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#knight{
    position: absolute;
    height: 200px;
    width: 200px;
    bottom : 100px;
    left: 400px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

#score{
    display: block;
    position: absolute;
    z-index: 20;
    margin: 20px;
    font-size: 30px;
    font-family: Ubuntu, sans-serif;
}

#modal-button{
    display: none;
}

ul{
    position: relative;
    top: 50px;
    z-index: 20;
    left: 20px;
    font-family: Ubuntu, sans-serif;
    font-size: 20px;
}



