* {
    box-sizing: border-box;
}

body {
    background-size: cover;
    overflow: hidden;
    background-color: rgb(28, 137, 180);
}

div {
    position: absolute;
    height:300px;
    width: 300px;
    background-image: url("img/tree.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* border: 1px solid black; */
    
}

.back{
    top: 50px;
}

.mid{
    top: 100px;
}

.font{
    top: 150px;
}

#sun{
    background-image: url(img/sun.png);
    background-size: contain;
    height: 200px;
    width: 200px;
    /* border: 1px solid black; */
    left: 0;
    right: 0;
    top: 50px;
    margin: 0 auto;
    transform: translateY(-30%);
}

#ground{
    width: 100vw;
    background-color: rgb(73, 42, 2);
    top: 350px;
    z-index: -1;
}

.forest{
    width: 100vw;
    height: 250px;
    z-index: -2;
    top: 200px;
    background-image: url(img/forest.png);
    background-repeat: repeat-x;
    background-size: contain;
    /* background-color: black; */
}

#knight{
    height: 200px;
    width: 150px;
    top: 350px;
    left: 400px;
    background-size: cover;
    /* border: 1px solid black; */
    z-index: 1;
    /* transform: scaleX(-1); */
}

#front-forest{
    /* background-color: yellow; */
    z-index: -1;
    width: 150vw;
    left: -100px;
    top: 130px;
}




